@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="react-app"></div>
<script src="~/dist/bundle.js"></script>
<link rel="stylesheet" href="~/css/styles.css" />

